body {
    background:none;
    background-color:azure;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
    text-align: center;
}

#holder {
	width: 760px;
	padding: 15px;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #999999;
	font-family: Georgia,serif;
	font-style: italic;
	font-weight: normal;
}

h3 {
	font-style: normal;
    margin-top:-12px;  
}
h4 {
	font-style: normal;
    margin-top: 34px;
}
h1 {
    font-size: 35px;
    font-style: normal;
    margin-top:40px;
    color: cadetblue;
}


input[type=text] {
	width: 300px;
}

fieldset {
	text-align: left;
	border: 12px;
	padding-left: 19em;
}

fieldset p {
	margin: 12px;
}

input {
	font-size: 17px;
}

#hide {
	display:none;	
	}
	
#body1 {
	line-height:24px;
	margin-bottom:30px;
	margin-top:24px;
	}	
	
#h2blue {
	color: cadetblue;
	font-size: 30px;
	font-style:normal;
	}	
	
.btn {
	margin-left: 6px;
	margin-top:12px;
	padding:3px;
	background-color:cadetblue;
	}	